.controlPanel {
    grid-column: 3;
    grid-row: 2;
    color: white;
    max-width: 800px;
    min-width: 23rem;
    background-image: linear-gradient(
        rgb(0, 0, 0, 0),
        rgba(0, 145, 255, 0.364)
    );
    padding: 0.5rem;
    padding-top: 0;
    justify-content: center;
    border: 2px solid rgb(0, 123, 168);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px rgb(0, 123, 168);

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#controlPanelTitle {
    grid-row: 1;
    grid-column: 1 / 4;
}

#checkbox1 {
    margin-left: 25%;
    margin-right: 25%;
    grid-row: 2;
    grid-column: 1;
    width: 50%;
}
