.individualServer {

    display:grid;
    background-color: rgb(0, 0, 0, 0.5);
    grid-template-columns: 0.5fr 3fr 1fr 0.3fr 1fr 2.5fr 0.5fr;
    border: 1px solid rgb(52, 77, 94);
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
}

.adminAlert {
    animation : blinkingAlert 1.5s infinite;
    box-shadow: 0px 0px 10px 3px rgb(251, 236, 77, 0.5);
}

@keyframes blinkingAlert {
    0% { background-color: rgb(0, 0, 0, 0.5); color: white;}
    50% {background-color: rgb(251, 236, 77); color: black;}
    100% { background-color: rgb(0, 0, 0, 0.5); color: white;}
}


.individualServer:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.individualServer:last-of-type {
    margin-bottom: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.serverIP {
 padding-right: 0.2rem;
}

.team1Score {
    border-left: 1px solid rgb(52, 77, 94);
}

.team2Score {
    border-right: 1px solid rgb(52, 77, 94);
}

.notification {
    padding-right: 0.4rem;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropDown {
    grid-column: 1 / 7;
}