.serverContainer {
    color:white;
    max-width: 800px;
    min-width: 25rem;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 145, 255, 0.364));
    padding: 0.5rem;
    padding-top: 0;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
    border: 2px solid rgb(0, 123, 168);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px rgb(0, 123, 168);
}